.post {
	width: 700px;
	margin: 30px 40px 50px 40px;
}

.post__header {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
}

.post__headerAuthor {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-weight: bolder;
}

.post__image > img {
	width: 600px;
	height: 600px;
	margin-left: 50px;
	align-items: center;
	border-radius: 3px;
	border: 0.06px solid rgba(128, 128, 128, 0.516);
	object-fit: cover;
}

.post__footerIcons {
	margin-left: 50px;
	display: flex;
	flex-direction: row;
}

.postIcon:hover {
	cursor: pointer;
}

.post__timestamp {
	color: grey;
	font-size: 15px;
	margin-left: 5px;
}

.post__username {
	margin-left: 5px;
	margin-right: 5px;
	color: white;
}

.post__footer {
	margin-top: 5px;
	margin-bottom: 5px;
}

.post__like {
	margin-right: 5px;
}

.post__comment {
	margin-right: 5px;
}

.post__like {
	margin-right: 5px;
}

.post__save {
	margin-left: 500px;
}

.post__likes {
	font-weight: bold;
	margin-left: 50px;
}

.post__description {
	display: flex;
	flex-direction: row;
	margin-left: 50px;
}

.post__descriptionUsername {
	font-weight: bold;
	margin-right: 5px;
}

.post__descriptionText {

}

